# Notebook 3: Approaches for Tabular Data

In this notebook we will show a few ways to use LLM pipelines with tabular data. I like to think of working with tabular data with LLMs with 3 options.

1. **Static Approach:** Store data in a knowledge base and try to retrieve the relevant data to answer the question directly
2. **Templated Code / Function Calling Approach:** Have pre-defined code that can run to satisfy certain requests. Extract inputs and produce answer using outputs with LLMs.
3. **AI Agent Approach:** The LLM creates code to run in order to produce analysis required to answer the question.
 
Complexity and reliance on the LLM increases from 1. where no code is executed to 2. where only pre-define coded is executed to 3. where the LLM produces code to execute. The separation is not perfectly clean agents can also just point only to pre-defined code, but this is just a framework. Additionally, for 1., the stored data could consist of extensively pre-process "views" of the data aimed at satisfying the majority of user queries. 

In this notebook, we will focus on 1. and 3., but demonstrate 2. through the use of agents to some extent. We will consider on Tesla (TSLA) stock prices data.
* First, we will use the common approach of using LangChain's [CSV Loader](https://python.langchain.com/docs/integrations/document_loaders/csv)
* Next, we will explore Langchain's [TimeWeightedVectorStoreRetriever](https://python.langchain.com/docs/modules/data_connection/retrievers/time_weighted_vectorstore) and learn why this may not be what we want
* Then, we will explore using agent based approaches from [LangChain](https://github.com/langchain-ai/langchain/tree/master) and [Pandas-AI](https://github.com/Sinaptik-AI/pandas-ai/tree/main)

## Import libraries and load the stock data

In [2]:
import pandas as pd
import os
import csv
import json
import time
import re
import numpy as np
from datetime import datetime

from sklearn.metrics.pairwise import cosine_similarity
import faiss

#We will use langchain to create a vector store to retrieve stronger negatives
from langchain.vectorstores.faiss import FAISS
from langchain.docstore import InMemoryDocstore
from langchain_core.vectorstores import VectorStoreRetriever
from langchain.document_loaders import UnstructuredPDFLoader, csv_loader
from langchain_community.embeddings import HuggingFaceEmbeddings
from langchain.retrievers import TimeWeightedVectorStoreRetriever
from langchain.utils import mock_now


EMBEDDING_MODEL_NAME = "all-MiniLM-L6-v2"## "BAAI/bge-base-en-v1.5""all-MiniLM-L6-v2"

In [33]:
from dotenv import load_dotenv
# Load environment variables
load_dotenv()

True

In [3]:
#load stock data. Load dataframe and load directly as docs
tsla_stock = pd.read_csv("../data/TSLA.csv")
spy_etf = pd.read_csv("../data/SPY.csv") #for later

## Static Approaches 

Here we use a knowledge base of TSLA's stock data

#### Using LangChain's CSVLoader
This just loads each record as a json in an individual document in our vector database to retrieve

In [5]:
loader  = csv_loader.CSVLoader(file_path="../data/TSLA.csv")
stock_data_docs = loader.load()
stock_data_docs[0]

#for the retrieval process
embedding_function = HuggingFaceEmbeddings(
        model_name=EMBEDDING_MODEL_NAME,
        cache_folder="../models/sentencetransformers"
    )

In [4]:
#first let's add more context to help with Retrieval and add date to metadata (for later use)
for ii in range(0, len(stock_data_docs)):
    stock_data_docs[ii].page_content = "Daily stock market data for Tesla (TSLA):\n" + stock_data_docs[ii].page_content
    date = re.findall(r'Date: (\d{4}-\d{2}-\d{2})', stock_data_docs[ii].page_content)
    if len(date) > 0:
        stock_data_docs[ii].metadata['last_accessed_at'] = datetime.strptime(date[0], '%Y-%m-%d')
    else:
        stock_data_docs[ii].metadata['last_accessed_at'] = None
stock_data_docs[0]

Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2010-06-29\nOpen: 1.266667\nHigh: 1.666667\nLow: 1.169333\nClose: 1.592667\nAdj Close: 1.592667\nVolume: 281494500', metadata={'source': '../data/TSLA.csv', 'row': 0, 'last_accessed_at': datetime.datetime(2010, 6, 29, 0, 0)})

In [5]:
db_data = FAISS.from_documents(stock_data_docs, embedding_function)
db_data.save_local("../data/faiss_stock")

Our stock data is just through 2024-02-02 so we will specify that as today's date

In [6]:
top_k=16
retriever_stock = VectorStoreRetriever(vectorstore=db_data, search_kwargs={"k": top_k})

def generate_response(prompt, retriever):
    #today's date - let's pretend it is 2024-02-02
    today = "2024-02-02"
    #replace "current" or "today" with today's date
    prompt = re.sub(r'current|today', today, prompt, flags=re.IGNORECASE)
    print("Prompt: ", prompt)
    # Get the top k most similar documents
    results = retriever.get_relevant_documents(prompt)
    return results

In [7]:
question ="What is TSLA's current close price?"
generate_response(question, retriever_stock)

Prompt:  What is TSLA's 2024-02-02 close price?

[Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2021-08-03\nOpen: 239.666672\nHigh: 240.883331\nLow: 233.669998\nClose: 236.580002\nAdj Close: 236.580002\nVolume: 64860900', metadata={'source': '../data/TSLA.csv', 'row': 2793, 'last_accessed_at': datetime.datetime(2021, 8, 3, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2021-04-20\nOpen: 239.139999\nHigh: 245.750000\nLow: 236.896667\nClose: 239.663330\nAdj Close: 239.663330\nVolume: 106827000', metadata={'source': '../data/TSLA.csv', 'row': 2720, 'last_accessed_at': datetime.datetime(2021, 4, 20, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-08-18\nOpen: 306.000000\nHigh: 306.500000\nLow: 301.853333\nClose: 302.869995\nAdj Close: 302.869995\nVolume: 47500500', metadata={'source': '../data/TSLA.csv', 'row': 3056, 'last_accessed_at': datetime.datetime(2022, 8, 18, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2023-10-25\nOpen: 215.880005\nHigh: 220.100006\nLow: 212.199997\nClose: 212.419998\nAdj Close: 212.419998\nVolume: 107065100', metadata={'source': '../data/TSLA.csv', 'row': 3354, 'last_accessed_at': datetime.datetime(2023, 10, 25, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2023-12-04\nOpen: 235.750000\nHigh: 239.369995\nLow: 233.289993\nClose: 235.580002\nAdj Close: 235.580002\nVolume: 104099800', metadata={'source': '../data/TSLA.csv', 'row': 3381, 'last_accessed_at': datetime.datetime(2023, 12, 4, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-12-19\nOpen: 154.000000\nHigh: 155.250000\nLow: 145.820007\nClose: 149.869995\nAdj Close: 149.869995\nVolume: 139390600', metadata={'source': '../data/TSLA.csv', 'row': 3141, 'last_accessed_at': datetime.datetime(2022, 12, 19, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-07-15\nOpen: 240.000000\nHigh: 243.623337\nLow: 236.889999\nClose: 240.066666\nAdj Close: 240.066666\nVolume: 69683100', metadata={'source': '../data/TSLA.csv', 'row': 3032, 'last_accessed_at': datetime.datetime(2022, 7, 15, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2021-01-06\nOpen: 252.830002\nHigh: 258.000000\nLow: 249.699997\nClose: 251.993332\nAdj Close: 251.993332\nVolume: 134100000', metadata={'source': '../data/TSLA.csv', 'row': 2649, 'last_accessed_at': datetime.datetime(2021, 1, 6, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2023-02-17\nOpen: 199.990005\nHigh: 208.440002\nLow: 197.500000\nClose: 208.309998\nAdj Close: 208.309998\nVolume: 213738500', metadata={'source': '../data/TSLA.csv', 'row': 3182, 'last_accessed_at': datetime.datetime(2023, 2, 17, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-05-02\nOpen: 286.923340\nHigh: 302.119995\nLow: 282.676666\nClose: 300.980011\nAdj Close: 300.980011\nVolume: 75781500', metadata={'source': '../data/TSLA.csv', 'row': 2981, 'last_accessed_at': datetime.datetime(2022, 5, 2, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-09-16\nOpen: 299.609985\nHigh: 303.709991\nLow: 295.600006\nClose: 303.350006\nAdj Close: 303.350006\nVolume: 87087800', metadata={'source': '../data/TSLA.csv', 'row': 3076, 'last_accessed_at': datetime.datetime(2022, 9, 16, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2023-02-21\nOpen: 204.990005\nHigh: 209.710007\nLow: 197.220001\nClose: 197.369995\nAdj Close: 197.369995\nVolume: 180018600', metadata={'source': '../data/TSLA.csv', 'row': 3183, 'last_accessed_at': datetime.datetime(2023, 2, 21, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2021-08-12\nOpen: 235.446671\nHigh: 240.933334\nLow: 233.133331\nClose: 240.750000\nAdj Close: 240.750000\nVolume: 52377300', metadata={'source': '../data/TSLA.csv', 'row': 2800, 'last_accessed_at': datetime.datetime(2021, 8, 12, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-10-25\nOpen: 210.100006\nHigh: 224.350006\nLow: 210.000000\nClose: 222.419998\nAdj Close: 222.419998\nVolume: 96507900', metadata={'source': '../data/TSLA.csv', 'row': 3103, 'last_accessed_at': datetime.datetime(2022, 10, 25, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-11-04\nOpen: 222.600006\nHigh: 223.800003\nLow: 203.080002\nClose: 207.470001\nAdj Close: 207.470001\nVolume: 98622200', metadata={'source': '../data/TSLA.csv', 'row': 3111, 'last_accessed_at': datetime.datetime(2022, 11, 4, 0, 0)}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-10-12\nOpen: 215.330002\nHigh: 219.300003\nLow: 211.509995\nClose: 217.240005\nAdj Close: 217.240005\nVolume: 66860700', metadata={'source': '../data/TSLA.csv', 'row': 3094, 'last_accessed_at': datetime.datetime(2022, 10, 12, 0, 0)})]

Notice that even when we replace "current" with today's date, our retrieval process is not strong enough to only pick recent dates. 

Let's try using TimeWeightedVectorStoreRetriever to bias towards recent dates...<br>

#### TimeWeightedVectorStoreRetriever

In [8]:
# Solution 1
embedding_size = len(embedding_function.embed_documents([question])[0])
index = faiss.IndexFlatL2(384)
vectorstore = FAISS(embedding_function, index, InMemoryDocstore({}), {})
tw_retriever_stock = TimeWeightedVectorStoreRetriever(vectorstore=vectorstore,decay_rate=0.005, k=top_k)
# Notice the last access time is that date time
tw_retriever_stock.add_documents(stock_data_docs)
with mock_now(datetime(2024, 2, 2, 23, 0)):
    rel_docs = generate_response(question, tw_retriever_stock)
rel_docs

Prompt:  What is TSLA's 2024-02-02 close price?

[Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-02-02\nOpen: 185.039993\nHigh: 188.690002\nLow: 182.000000\nClose: 187.910004\nAdj Close: 187.910004\nVolume: 110505100', metadata={'source': '../data/TSLA.csv', 'row': 3422, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3422}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-02-01\nOpen: 188.500000\nHigh: 189.880005\nLow: 184.279999\nClose: 188.860001\nAdj Close: 188.860001\nVolume: 91843300', metadata={'source': '../data/TSLA.csv', 'row': 3421, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3421}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-31\nOpen: 187.000000\nHigh: 193.970001\nLow: 185.850006\nClose: 187.289993\nAdj Close: 187.289993\nVolume: 103221400', metadata={'source': '../data/TSLA.csv', 'row': 3420, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3420}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-30\nOpen: 195.330002\nHigh: 196.360001\nLow: 190.610001\nClose: 191.589996\nAdj Close: 191.589996\nVolume: 109982300', metadata={'source': '../data/TSLA.csv', 'row': 3419, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3419}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-29\nOpen: 185.630005\nHigh: 191.479996\nLow: 183.669998\nClose: 190.929993\nAdj Close: 190.929993\nVolume: 125013100', metadata={'source': '../data/TSLA.csv', 'row': 3418, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3418}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-22\nOpen: 212.259995\nHigh: 217.800003\nLow: 206.270004\nClose: 208.800003\nAdj Close: 208.800003\nVolume: 117952500', metadata={'source': '../data/TSLA.csv', 'row': 3413, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3413}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-26\nOpen: 185.500000\nHigh: 186.779999\nLow: 182.100006\nClose: 183.250000\nAdj Close: 183.250000\nVolume: 107343200', metadata={'source': '../data/TSLA.csv', 'row': 3417, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3417}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-25\nOpen: 189.699997\nHigh: 193.000000\nLow: 180.059998\nClose: 182.630005\nAdj Close: 182.630005\nVolume: 198076800', metadata={'source': '../data/TSLA.csv', 'row': 3416, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3416}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-04\nOpen: 239.250000\nHigh: 242.699997\nLow: 237.729996\nClose: 237.929993\nAdj Close: 237.929993\nVolume: 102629300', metadata={'source': '../data/TSLA.csv', 'row': 3402, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3402}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2024-01-02\nOpen: 250.080002\nHigh: 251.250000\nLow: 244.410004\nClose: 248.419998\nAdj Close: 248.419998\nVolume: 104654200', metadata={'source': '../data/TSLA.csv', 'row': 3400, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3400}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2021-08-03\nOpen: 239.666672\nHigh: 240.883331\nLow: 233.669998\nClose: 236.580002\nAdj Close: 236.580002\nVolume: 64860900', metadata={'source': '../data/TSLA.csv', 'row': 2793, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 2793}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2021-04-20\nOpen: 239.139999\nHigh: 245.750000\nLow: 236.896667\nClose: 239.663330\nAdj Close: 239.663330\nVolume: 106827000', metadata={'source': '../data/TSLA.csv', 'row': 2720, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 2720}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-08-18\nOpen: 306.000000\nHigh: 306.500000\nLow: 301.853333\nClose: 302.869995\nAdj Close: 302.869995\nVolume: 47500500', metadata={'source': '../data/TSLA.csv', 'row': 3056, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3056}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2023-10-25\nOpen: 215.880005\nHigh: 220.100006\nLow: 212.199997\nClose: 212.419998\nAdj Close: 212.419998\nVolume: 107065100', metadata={'source': '../data/TSLA.csv', 'row': 3354, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3354}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2023-12-04\nOpen: 235.750000\nHigh: 239.369995\nLow: 233.289993\nClose: 235.580002\nAdj Close: 235.580002\nVolume: 104099800', metadata={'source': '../data/TSLA.csv', 'row': 3381, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3381}),
 Document(page_content='Daily stock market data for Tesla (TSLA):\nDate: 2022-12-19\nOpen: 154.000000\nHigh: 155.250000\nLow: 145.820007\nClose: 149.869995\nAdj Close: 149.869995\nVolume: 139390600', metadata={'source': '../data/TSLA.csv', 'row': 3141, 'last_accessed_at': MockDateTime(2024, 2, 2, 23, 0), 'created_at': datetime.datetime(2024, 3, 27, 10, 23, 4, 663286), 'buffer_idx': 3141})]

This technically worked, but is not what we want. The 'last_accessed_at' was updated so it is not longer using the date for the stock and this will hurt performance when asking for previous dates. Let's try agents.

## Agent-based Approaches

#### Langchain CSV / Pandas Agents

Here we will show simple use of Langchain [csv](https://python.langchain.com/docs/integrations/toolkits/csv) and [Pandas](https://python.langchain.com/docs/integrations/toolkits/pandas) agents. The csv agent uses the Pandas agent under the hood so we will just use the pandas agent directly.

In [6]:
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_openai import OpenAI
from langchain_openai import ChatOpenAI

True

In [11]:
tsla_stock.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1  2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500
2  2010-07-01  1.666667  1.728000  1.351333  1.464000   1.464000  123282000
3  2010-07-02  1.533333  1.540000  1.247333  1.280000   1.280000   77097000
4  2010-07-06  1.333333  1.333333  1.055333  1.074000   1.074000  103003500

In [18]:
def try_agent(agent, prompt, verbose=True):
    response = None
    try:
        response = agent.invoke(prompt, verbose=verbose)
        print(response)
    except Exception as e:
        print(e)
    return response

#### First we'll try the ZERO_SHOT_REACT_DESCRIPTION agent

**Warning:** this does not work well

**Also, it works much better with Langchain's [ChatOpenAI](https://github.com/langchain-ai/langchain/blob/master/libs/community/langchain_community/chat_models/openai.py#L351) that just Langchain's [OpenAI](https://github.com/langchain-ai/langchain/blob/master/libs/community/langchain_community/llms/openai.py#L731) which is used in the zero shot example**

In [238]:
llm = ChatOpenAI(temperature=0, model="gpt-4-1106-preview")
# llm = OpenAI(temperature=0, model="gpt-4-1106-preview")
agent = create_pandas_dataframe_agent(llm, tsla_stock, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose=True)

In [239]:
response = try_agent(agent, "What was the most recent close price for TSLA?", verbose=True)

> Entering new AgentExecutor chain...
Thought: To find the most recent close price for TSLA, I need to look at the last row of the dataframe and get the value from the 'Close' column.

Action: python_repl_ast
Action Input: df.tail(1)['Close'].iloc[0]187.910004I now know the final answer.

Final Answer: The most recent close price for TSLA was $187.91.

> Finished chain.
{'input': 'What was the most recent close price for TSLA?', 'output': 'The most recent close price for TSLA was $187.91.'}

In [240]:
response = try_agent(agent, "Does the change in open or close prices have a larger standard deviation?", verbose=True)

> Entering new AgentExecutor chain...
Thought: To answer this question, I need to calculate the standard deviation of the changes in open prices and the changes in close prices. The change can be calculated by subtracting the previous day's price from the current day's price. I will use the `diff()` method to calculate the changes and then the `std()` method to calculate the standard deviation for both 'Open' and 'Close' columns.

Action: Calculate the standard deviation of the changes in open prices.
Action Input: df['Open'].diff().std()
Calculate the standard deviation of the changes in open prices. is not a valid tool, try one of [python_repl_ast].I need to use the python_repl_ast tool to execute the Python command.

Action: python_repl_ast
Action Input: df['Open'].diff().std()4.945367157862929The standard deviation of the changes in open prices is approximately 4.945.

Action: Calculate the standard deviation of the changes in close prices.
Action Input: df['Close'].diff().std()Calculate the standard deviation of the changes in close prices. is not a valid tool, try one of [python_repl_ast].I need to use the python_repl_ast tool to execute the Python command.

Action: python_repl_ast
Action Input: df['Close'].diff().std()4.678933840976249The standard deviation of the changes in close prices is approximately 4.679.

Thought: Now that I have both standard deviations, I can compare them to determine which one is larger.

Final Answer: The change in open prices has a larger standard deviation (approximately 4.945) compared to the change in close prices (approximately 4.679).

> Finished chain.
{'input': 'Does the change in open or close prices have a larger standard deviation?', 'output': 'The change in open prices has a larger standard deviation (approximately 4.945) compared to the change in close prices (approximately 4.679).'}

That sort-of worked when I ran it (sometimes errors). Sometimes we can see that it enters another step. 

 We can look at [Langchain's default code](https://github.com/langchain-ai/langchain/blob/master/libs/experimental/langchain_experimental/agents/agent_toolkits/pandas/base.py) and [prompts](https://github.com/langchain-ai/langchain/blob/master/libs/experimental/langchain_experimental/agents/agent_toolkits/pandas/prompt.py) to see how we can improve it and work around bugs.

The issue is in part related to a bug in Langchain. Let's use a work around and define out own prompt (which we will see another very minor bug).

- **Bug 1:** The stop token in the React Agent is \nObservation, but needs to be \nFinal Answer for Pandas agent
- **Bug 2:** "create_pandas_dataframe_agent" requiring include_df_in_prompt to be None vs False.

Building our own prompts for the agent:

In [241]:
PREFIX = """
You are a large language model being used in an agent workflow involving questions, thoughts, use of tools, and actions using those tools. One of those tools allows you to work with a pandas dataframe in Python. The name of the dataframe is `df`.
You should use the tools below to answer the question posed of you:\n"""

In [242]:
tsla_stock.describe(include='all')
#add first 2 rows and last 2 rows to describe
df_describe = tsla_stock.describe(include='all')
df_describe.loc['1st_row'] = tsla_stock.iloc[0]
df_describe.loc['2nd_row'] = tsla_stock.iloc[1]
df_describe.loc['2nd_last_row'] = tsla_stock.iloc[-2]
df_describe.loc['last_row'] = tsla_stock.iloc[-1]
df_describe

,Date,Open,High,Low,Close,Adj Close,Volume
count,3423,3423.000000,3423.000000,3423.000000,3423.000000,3423.000000,3.423000e+03
unique,3423,NaN,NaN,NaN,NaN,NaN,NaN
top,2010-06-29,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,71.463546,73.027288,69.772792,71.436731,71.436731,9.690499e+07
std,NaN,101.915934,104.171288,99.425029,101.828184,101.828184,7.980646e+07
min,NaN,1.076000,1.108667,0.998667,1.053333,1.053333,1.777500e+06
25%,NaN,10.870667,11.166334,10.688667,10.945000,10.945000,4.623000e+07
50%,NaN,17.025333,17.266666,16.719334,16.999332,16.999332,8.160300e+07
75%,NaN,122.324997,126.674999,119.958332,123.389999,123.389999,1.232748e+08
max,NaN,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08
1st_row,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,2.814945e+08
2nd_row,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,2.578065e+08
2nd_last_row,2024-02-01,188.500000,189.880005,184.279999,188.860001,188.860001,9.184330e+07
last_row,2024-02-02,185.039993,188.690002,182.000000,187.910004,187.910004,1.105051e+08

In [243]:
SUFFIX_WITH_DF_DESCRIBE = """
You must STOP once you found the final answer. This is the result of running:

df_describe = df.describe(include='all')
df_describe.loc['1st_row'] = df.iloc[0]
df_describe.loc['2nd_row'] = df.iloc[1]
df_describe.loc['2nd_last_row'] = df.iloc[-2]
df_describe.loc['last_row'] = df.iloc[-1]
print(df_describe.to_markdown())
del df_describe:
{df_describe}

Please note that python_repl_ast cannot use df_decribe, but can use df.

Begin!
Question: {{input}}
{{agent_scratchpad}}"""

In [244]:
df_describe_str = str(df_describe.to_markdown())#json.dumps((df_describe.to_json())).replace("{", "{{").replace("}", "}}")
partial_format = SUFFIX_WITH_DF_DESCRIBE.format(df_describe=df_describe_str)
SUFFIX_FINAL = partial_format.replace("{{input}}", "{input}").replace("{{agent_scratchpad}}", "{agent_scratchpad}")
print(SUFFIX_FINAL)

You must STOP once you found the final answer. This is the result of running:

df_describe = df.describe(include='all')
df_describe.loc['1st_row'] = df.iloc[0]
df_describe.loc['2nd_row'] = df.iloc[1]
df_describe.loc['2nd_last_row'] = df.iloc[-2]
df_describe.loc['last_row'] = df.iloc[-1]
print(df_describe.to_markdown())
del df_describe:
|              | Date       |       Open |       High |         Low |      Close |   Adj Close |         Volume |
|:-------------|:-----------|-----------:|-----------:|------------:|-----------:|------------:|---------------:|
| count        | 3423       | 3423       | 3423       | 3423        | 3423       |  3423       | 3423           |
| unique       | 3423       |  nan       |  nan       |  nan        |  nan       |   nan       |  nan           |
| top          | 2010-06-29 |  nan       |  nan       |  nan        |  nan       |   nan       |  nan           |
| freq         | 1          |  nan       |  nan       |  nan        |  nan       |   nan       |  nan           |
| mean         | nan        |   71.4635  |   73.0273  |   69.7728   |   71.4367  |    71.4367  |    9.6905e+07  |
| std          | nan        |  101.916   |  104.171   |   99.425    |  101.828   |   101.828   |    7.98065e+07 |
| min          | nan        |    1.076   |    1.10867 |    0.998667 |    1.05333 |     1.05333 |    1.7775e+06  |
| 25%          | nan        |   10.8707  |   11.1663  |   10.6887   |   10.945   |    10.945   |    4.623e+07   |
| 50%          | nan        |   17.0253  |   17.2667  |   16.7193   |   16.9993  |    16.9993  |    8.1603e+07  |
| 75%          | nan        |  122.325   |  126.675   |  119.958    |  123.39    |   123.39    |    1.23275e+08 |
| max          | nan        |  411.47    |  414.497   |  405.667    |  409.97    |   409.97    |    9.14082e+08 |
| 1st_row      | 2010-06-29 |    1.26667 |    1.66667 |    1.16933  |    1.59267 |     1.59267 |    2.81494e+08 |
| 2nd_row      | 2010-06-30 |    1.71933 |    2.028   |    1.55333  |    1.58867 |     1.58867 |    2.57806e+08 |
| 2nd_last_row | 2024-02-01 |  188.5     |  189.88    |  184.28     |  188.86    |   188.86    |    9.18433e+07 |
| last_row     | 2024-02-02 |  185.04    |  188.69    |  182        |  187.91    |   187.91    |    1.10505e+08 |

Please note that python_repl_ast cannot use df_decribe, but can use df.

Begin!
Question: {input}
{agent_scratchpad}

Now, let's use a workaround for the Langchain bug:

In [245]:
llm = ChatOpenAI(temperature=0, model="gpt-4-1106-preview")

#Bug 1 workaround: the stop token in the React Agent is \nObservation, but needs to be \nFinal Answer for Pandas agent
llm_with_stop = llm.bind(stop=["\nFinal Answer"])

In [246]:
#Bug 2 workaround:
agent = create_pandas_dataframe_agent(llm_with_stop, tsla_stock, include_df_in_prompt = None, #handle_parsing_errors=True,
                                      agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, prefix=PREFIX, suffix=SUFFIX_FINAL, verbose=True)

In [247]:
response = try_agent(agent, "What was the most recent close price for TSLA?", verbose=True)

> Entering new AgentExecutor chain...
Thought: The most recent close price for TSLA can be found in the 'Close' column of the last row of the dataframe `df`.

Action: python_repl_ast
Action Input: df['Close'].iloc[-1]187.910004I now know the final answer.
Final Answer: The most recent close price for TSLA was $187.91.

> Finished chain.
{'input': 'What was the most recent close price for TSLA?', 'output': 'The most recent close price for TSLA was $187.91.'}

In [248]:
response = try_agent(agent, "Does the change in open or close prices have a larger standard deviation?", verbose=True)

> Entering new AgentExecutor chain...
Thought: To answer this question, I need to compare the standard deviation of the 'Open' prices with the standard deviation of the 'Close' prices.

Action: python_repl_ast
Action Input: df['Open'].std(), df['Close'].std()(101.91593442111841, 101.82818449060503)I now know the final answer
Final Answer: The 'Open' prices have a slightly larger standard deviation than the 'Close' prices.

> Finished chain.
{'input': 'Does the change in open or close prices have a larger standard deviation?', 'output': "The 'Open' prices have a slightly larger standard deviation than the 'Close' prices."}

That failed to take the difference and I had to significantly change the PREFIX and SUFFIX to get it to sometimes work. We can take a look at the Langchain code again, but let's move on.

#### Let's now try the OPENAI_FUNCTIONS agent in Langchain

**Note:** This works very badly with "gpt-4-1106-preview", but a bit better with "gpt-4" and "gpt-3.5-turbo-0613"

In [258]:
llm = ChatOpenAI(temperature=0, model="gpt-4")
agent = create_pandas_dataframe_agent(llm, tsla_stock,verbose=True,agent_type=AgentType.OPENAI_FUNCTIONS)

In [259]:
response = try_agent(agent, "What was the most recent close price for TSLA?", verbose=True)

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['Close'].iloc[-1]"}`


187.910004The most recent close price for TSLA was $187.91.

> Finished chain.
{'input': 'What was the most recent close price for TSLA?', 'output': 'The most recent close price for TSLA was $187.91.'}

In [260]:
response = try_agent(agent, "Does the change in open or close prices have a larger standard deviation?", verbose=True)

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "df['Open'].diff().std(), df['Close'].diff().std()"}`


(4.945367157862929, 4.678933840976249)The standard deviation of the change in open prices is larger than the standard deviation of the change in close prices.

> Finished chain.
{'input': 'Does the change in open or close prices have a larger standard deviation?', 'output': 'The standard deviation of the change in open prices is larger than the standard deviation of the change in close prices.'}

Let's forget about Langchain Agents for now as it is a little bit of a pain ...

### Let's try Agents with [Pandas AI](https://docs.pandas-ai.com/en/latest/)

In [2]:
import pandas as pd
from pandasai import SmartDatalake
from pandasai import SmartDataframe
from pandasai.llm import OpenAI
from pandasai import Agent
from pandasai.skills import skill

In [8]:
llm = OpenAI(model="gpt-4-1106-preview", verbose=True)

Let's first just use the simple agent with SmartDataframe

In [15]:
agent = SmartDataframe(tsla_stock, description ="TSLA Stock Market Data", config={"llm": llm})
agent.chat("Does the change in open or close prices have a larger standard deviation?")

'Close prices have a larger standard deviation.'

That actually did not work at all - looking at the log below shows it just made up the answer.

Let's show something a bit more interesting using the Agent framework from Pandas-AI which allows us to directly inform our LLM or "skills" we added

In [34]:
# Function doc string to give more context to the model for use this skill
@skill
def get_capm_params(stock_data: pd.DataFrame, benchmark_data: pd.DataFrame):
    """
    This function estimates an Intercept(alpha) and a beta by regressing the stock returns on the benchmark returns.
    This is the Capital Asset Pricing Model (CAPM) model.
    Args:
        stock_data: A Pandas DataFrame with stock data
        benchmark_data: A Pandas DataFrame with the benchmark's data
    Returns:
        alpha: Intercept
        beta: Beta
    """
    from sklearn.linear_model import LinearRegression
    import pandas as pd
    #calculate stock returns
    stock_data['Return'] = stock_data['Close'].pct_change()
    stock_data.dropna(inplace=True)
    #calculate benchmark returns
    benchmark_data['Return'] = benchmark_data['Close'].pct_change()
    benchmark_data.dropna(inplace=True)
    #perform inner join to get common dates
    stock_data = stock_data.merge(benchmark_data, on='Date', how='inner', suffixes=('_stock', '_benchmark'))
    X = stock_data[['Return_benchmark']]
    y = stock_data['Return_stock']
    model = LinearRegression().fit(X, y)
    alpha = model.intercept_
    beta = model.coef_[0]
    return alpha, beta

agent = Agent([tsla_stock, spy_etf], config={"llm": llm}, memory_size=10, description="A list of 2 DataFrames: TSLA stock data and SPY ETF data respectively.")

agent.add_skills(get_capm_params)

In [44]:
get_capm_params(tsla_stock, spy_etf)

(0.0013747603371657858, 1.4142763404820184)

In [36]:
# Chat with the agent
response = agent.chat("What is the Beta of TSLA? You can use the SPY ETF as the benchmark and use the CAPM model.")
print(response)

1.4098669332856566

We got the right answer, but the beta is slightly different - let's check the logs ... 

This appears to just be estimation sensitivity so all good!

In [37]:
#print pandasai.log file to see the logs
# with open("pandasai.log", "r") as f:
#     print(f.read())

This seems promising! So far we have just shown pretty simple agents and can satisfy requirements as long as the users can read the code and understand all he intermediate steps.

#### SQL Agent - WORK IN PROGRESS

In [7]:
import sqlite3
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, DateTime

In [16]:
engine = create_engine('sqlite:///tsla_stock.db')
connection = engine.connect()

In [11]:
tsla_stock['Symbol'] = 'TSLA'
tsla_stock.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,TSLA
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,TSLA
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,TSLA
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,TSLA
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,TSLA

In [12]:
# Using SQLAlchemy to define a table schema
metadata = MetaData()

stocks = Table('stocks', metadata,
    Column('Symbol', String, comment='Stock symbol'),
    Column('Date', DateTime, comment='Date of trading'),
    Column('Open', Float, comment='Opening price'),
    Column('High', Float, comment='Highest price during the trading day'),
    Column('Low', Float, comment='Lowest price during the trading day'),
    Column('Close', Float, comment='Closing price at the end of trading day'),
    Column('Adj Close', Float, comment='Adjusted closing price'),
    Column('Volume', Integer, comment='Number of shares traded'),
)
metadata.create_all(engine)  # Creates the table

In [13]:
tsla_stock.to_sql('stocks', con=engine, if_exists='replace', index=False)

3423

In [25]:
### In sqlite3 comments are not accessible so we will add a table to store column descriptions
descriptions = {
    'Column': ['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'],
    'Description': [
        'Stock symbol', 'Date of trading', 'Opening price', 'Highest price during the trading day',
        'Lowest price during the trading day', 'Closing price at the end of trading day',
        'Adjusted closing price', 'Number of shares traded'
    ]
}
desc_df = pd.DataFrame(descriptions)
desc_df['Table'] = 'stocks'
desc_df[['Table','Column','Description']].to_sql('column_descriptions', con=engine, if_exists='replace', index=False)

8

In [26]:
# Create a connection to the SQLite database
conn = sqlite3.connect('tsla_stock.db')

# Define your SQL query
query = "SELECT * FROM stocks"

# Use pandas to execute the query and load the result into a DataFrame
try:
    df = pd.read_sql_query(query, conn)
    print(df.head(2))
    descriptions = pd.read_sql_query("SELECT * FROM column_descriptions", conn)
    print(descriptions)
except Exception as e:
    print("An error occurred:", e)

# Close the connection
conn.close()

         Date      Open      High       Low     Close  Adj Close     Volume  \
0  2010-06-29  1.266667  1.666667  1.169333  1.592667   1.592667  281494500
1  2010-06-30  1.719333  2.028000  1.553333  1.588667   1.588667  257806500

  Symbol
0   TSLA
1   TSLA
    Table     Column                              Description
0  stocks     Symbol                             Stock symbol
1  stocks       Date                          Date of trading
2  stocks       Open                            Opening price
3  stocks       High     Highest price during the trading day
4  stocks        Low      Lowest price during the trading day
5  stocks      Close  Closing price at the end of trading day
6  stocks  Adj Close                   Adjusted closing price
7  stocks     Volume                  Number of shares traded

In [24]:
SQL_SYSTEM_PROMPT = """"
You are a sophisticated generative AI trained to understand human language queries about stock market data and translate them into SQL queries. The database you are querying contains a table named stocks with the following columns:

Symbol: The stock symbol.
Date: The date of the trading activity.
Open: The opening price of the stock on that day.
High: The highest price of the stock during the trading day.
Low: The lowest price of the stock during the trading day.
Close: The closing price of the stock at the end of the trading day.
Adj Close: The adjusted closing price after accounting for any corporate actions.
Volume: The number of shares traded during the day.
Tasks:

Convert the human language query into a precise SQL query.
Ensure to accurately interpret the key details from the human query such as specific dates, stock symbols, price ranges, and other relevant filters.
Your responses should strictly be SQL queries; do not execute them.
Examples:

Human Query: "Show me all transactions of AAPL stocks from January 2021."
AI Response:
```sql
SELECT * FROM stocks WHERE Symbol = 'AAPL' AND Date >= '2021-01-01' AND Date < '2022-01-01';
```
Human Query: "What was the highest price of MSFT in the last year?"
AI Response:
```sql
SELECT MAX(High) FROM stocks WHERE Symbol = 'MSFT' AND Date >= date('now', '-1 year');
```
Human Query: "List all closing prices below $50 for any stock last month."
AI Response:
```sql
Copy code
SELECT Symbol, Date, Close FROM stocks WHERE Close < 50 AND Date >= date('now', 'start of month', '-1 month') AND Date < date('now', 'start of month');
```
Instructions:

Always validate the input query to ensure clarity and completeness.
Extract relevant temporal and financial parameters from the query.
Construct SQL queries that are syntactically correct and formatted for readability.
Assume the queries are to be executed in a SQLite database environment.
"""

In [30]:
descriptions.to_markdown(index=False)

'| Table   | Column    | Description                             |\n|:--------|:----------|:----------------------------------------|\n| stocks  | Symbol    | Stock symbol                            |\n| stocks  | Date      | Date of trading                         |\n| stocks  | Open      | Opening price                           |\n| stocks  | High      | Highest price during the trading day    |\n| stocks  | Low       | Lowest price during the trading day     |\n| stocks  | Close     | Closing price at the end of trading day |\n| stocks  | Adj Close | Adjusted closing price                  |\n| stocks  | Volume    | Number of shares traded                 |'

In [53]:
SQL_SYSTEM_PROMPT2 = """
You are a sophisticated generative AI model designed to convert human language queries into SQL queries. Your operation is based on a dynamic understanding of database schemas through a descriptions table. This descriptions table stores metadata about tables and columns in the database and includes the following columns:

Table: The name of the table to which the description relates.
Column: The actual column name in the table.
Description: A human-readable description of what the column represents.

**Example Description Table:**
| Table   | Column    | Description                             |
|:--------|:----------|:----------------------------------------|
| stocks  | Symbol    | Stock symbol                            |
| stocks  | Date      | Date of trading                         |
| stocks  | Open      | Opening price                           |
| stocks  | High      | Highest price during the trading day    |
| stocks  | Low       | Lowest price during the trading day     |
| stocks  | Close     | Closing price at the end of trading day |
| stocks  | Adj Close | Adjusted closing price                  |
| stocks  | Volume    | Number of shares traded                 |

Tasks:
Convert the human language query into a precise SQL query.
Ensure to accurately interpret the key details from the human query such as specific dates and other relevant filters.
Your responses should strictly be SQL queries; do not execute them.

SQL Response examples using the example descriptions table:
Human Query: "Show me all transactions of AAPL stocks from January 2021."
AI Response:
```sql
SELECT * FROM stocks WHERE Symbol = 'AAPL' AND Date >= '2021-01-01' AND Date < '2022-01-01';
```
Human Query: "What was the highest price of MSFT in the last year?"
AI Response:
```sql
SELECT MAX(High) FROM stocks WHERE Symbol = 'MSFT' AND Date >= date('now', '-1 year');
```
Human Query: "List all closing prices below $50 for any stock last month."
AI Response:
```sql
SELECT Symbol, Date, Close FROM stocks WHERE Close < 50 AND Date >= date('now', 'start of month', '-1 month') AND Date < date('now', 'start of month');
```

Now it's your turn to generate SQL queries based on the provided human language queries.

Description Table:
{descriptions_table}

Instructions:

Utilize the descriptions in the descriptions table to map human-language queries to appropriate SQL queries.
Pay careful attention to interpreting the temporal parameters specified in queries.
Generate SQL queries that are syntactically correct, ensuring they reflect the semantic understanding of the database structure based on descriptions.
Operate under the assumption that the database environment supports typical SQL functions and date calculations.
Remember to use quotes for column names that include a space when generating SQL queries.
"""

SQL_SYSTEM_PROMPT2 = SQL_SYSTEM_PROMPT2.format(descriptions_table=descriptions.to_markdown(index=False))
print(SQL_SYSTEM_PROMPT2)

You are a sophisticated generative AI model designed to convert human language queries into SQL queries. Your operation is based on a dynamic understanding of database schemas through a descriptions table. This descriptions table stores metadata about tables and columns in the database and includes the following columns:

Table: The name of the table to which the description relates.
Column: The actual column name in the table.
Description: A human-readable description of what the column represents.

**Example Description Table:**
| Table   | Column    | Description                             |
|:--------|:----------|:----------------------------------------|
| stocks  | Symbol    | Stock symbol                            |
| stocks  | Date      | Date of trading                         |
| stocks  | Open      | Opening price                           |
| stocks  | High      | Highest price during the trading day    |
| stocks  | Low       | Lowest price during the trading day     |
| stocks  | Close     | Closing price at the end of trading day |
| stocks  | Adj Close | Adjusted closing price                  |
| stocks  | Volume    | Number of shares traded                 |

Tasks:
Convert the human language query into a precise SQL query.
Ensure to accurately interpret the key details from the human query such as specific dates and other relevant filters.
Your responses should strictly be SQL queries; do not execute them.

SQL Response examples using the example descriptions table:
Human Query: "Show me all transactions of AAPL stocks from January 2021."
AI Response:
```sql
SELECT * FROM stocks WHERE Symbol = 'AAPL' AND Date >= '2021-01-01' AND Date < '2022-01-01';
```
Human Query: "What was the highest price of MSFT in the last year?"
AI Response:
```sql
SELECT MAX(High) FROM stocks WHERE Symbol = 'MSFT' AND Date >= date('now', '-1 year');
```
Human Query: "List all closing prices below $50 for any stock last month."
AI Response:
```sql
SELECT Symbol, Date, Close FROM stocks WHERE Close < 50 AND Date >= date('now', 'start of month', '-1 month') AND Date < date('now', 'start of month');
```

Now it's your turn to generate SQL queries based on the provided human language queries.

Description Table:
| Table   | Column    | Description                             |
|:--------|:----------|:----------------------------------------|
| stocks  | Symbol    | Stock symbol                            |
| stocks  | Date      | Date of trading                         |
| stocks  | Open      | Opening price                           |
| stocks  | High      | Highest price during the trading day    |
| stocks  | Low       | Lowest price during the trading day     |
| stocks  | Close     | Closing price at the end of trading day |
| stocks  | Adj Close | Adjusted closing price                  |
| stocks  | Volume    | Number of shares traded                 |

Instructions:

Utilize the descriptions in the descriptions table to map human-language queries to appropriate SQL queries.
Pay careful attention to interpreting the temporal parameters specified in queries.
Generate SQL queries that are syntactically correct, ensuring they reflect the semantic understanding of the database structure based on descriptions.
Operate under the assumption that the database environment supports typical SQL functions and date calculations.
Remember to use quotes for column names that include a space when generating SQL queries.

In [ ]:
import openai
openai.api_key = os.getenv('OPENAI_API_KEY')

In [54]:
response_full = openai.chat.completions.create(model="gpt-4o", messages=[{"role": "system", "content": SQL_SYSTEM_PROMPT2},
                                                                      {"role": "user", "content": "What was the highest price of TSLA in the last year?" }],
                                                                      temperature=0) #, logprobs=True, top_logprobs=5

print(response_full.choices[0].message.content)

#extract the SQL query from the response
sql_query = response_full.choices[0].message.content.split("```sql")[1].split("```")[0].strip()

#run the sql query using the conn connection 
conn = sqlite3.connect('tsla_stock.db')
cursor = conn.cursor()
cursor.execute(sql_query)

# Get column names from cursor.description
column_names = [description[0] for description in cursor.description]
result = cursor.fetchall()
result_with_column_names = [column_names] + result

print(result_with_column_names)

```sql
SELECT MAX(High) FROM stocks WHERE Symbol = 'TSLA' AND Date >= date('now', '-1 year');
```
[['MAX(High)'], (299.290009,)]

In [55]:
response_full = openai.chat.completions.create(model="gpt-4o", messages=[{"role": "system", "content": SQL_SYSTEM_PROMPT2},
                                                                      {"role": "user", "content": "What was the average daily high price of TSLA in December 2023?" }],
                                                                      temperature=0) #, logprobs=True, top_logprobs=5

print(response_full.choices[0].message.content)

#extract the SQL query from the response
sql_query = response_full.choices[0].message.content.split("```sql")[1].split("```")[0].strip()

#run the sql query using the conn connection 
conn = sqlite3.connect('tsla_stock.db')
cursor = conn.cursor()
cursor.execute(sql_query)

# Get column names from cursor.description
column_names = [description[0] for description in cursor.description]
result = cursor.fetchall()
result_with_column_names = [column_names] + result

print(result_with_column_names)

```sql
SELECT AVG(High) FROM stocks WHERE Symbol = 'TSLA' AND Date >= '2023-12-01' AND Date < '2024-01-01';
```
[['AVG(High)'], (251.22250119999998,)]

In [56]:
response_full = openai.chat.completions.create(model="gpt-4o", messages=[{"role": "system", "content": SQL_SYSTEM_PROMPT2},
                                                                      {"role": "user", "content": "Show me all trade data for TSLA stocks from January 2024." }],
                                                                      temperature=0) #, logprobs=True, top_logprobs=5

print(response_full.choices[0].message.content)

#extract the SQL query from the response
sql_query = response_full.choices[0].message.content.split("```sql")[1].split("```")[0].strip()

#run the sql query using the conn connection 
conn = sqlite3.connect('tsla_stock.db')
cursor = conn.cursor()
cursor.execute(sql_query)

# Get column names from cursor.description
column_names = [description[0] for description in cursor.description]
result = cursor.fetchall()
result_with_column_names = [column_names] + result
print(result_with_column_names)

```sql
SELECT * FROM stocks WHERE Symbol = 'TSLA' AND Date >= '2024-01-01' AND Date < '2024-02-01';
```
[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Symbol'], ('2024-01-02', 250.080002, 251.25, 244.410004, 248.419998, 248.419998, 104654200, 'TSLA'), ('2024-01-03', 244.979996, 245.679993, 236.320007, 238.449997, 238.449997, 121082600, 'TSLA'), ('2024-01-04', 239.25, 242.699997, 237.729996, 237.929993, 237.929993, 102629300, 'TSLA'), ('2024-01-05', 236.860001, 240.119995, 234.899994, 237.490005, 237.490005, 92379400, 'TSLA'), ('2024-01-08', 236.139999, 241.25, 235.300003, 240.449997, 240.449997, 85166600, 'TSLA'), ('2024-01-09', 238.110001, 238.960007, 232.039993, 234.960007, 234.960007, 96705700, 'TSLA'), ('2024-01-10', 235.100006, 235.5, 231.289993, 233.940002, 233.940002, 91628500, 'TSLA'), ('2024-01-11', 230.570007, 230.929993, 225.369995, 227.220001, 227.220001, 105873600, 'TSLA'), ('2024-01-12', 220.080002, 225.339996, 217.149994, 218.889999, 218.889999, 122889000, 'TSLA'), ('2024-01-16', 215.100006, 223.490005, 212.179993, 219.910004, 219.910004, 115355000, 'TSLA'), ('2024-01-17', 214.860001, 215.669998, 212.009995, 215.550003, 215.550003, 103164400, 'TSLA'), ('2024-01-18', 216.880005, 217.449997, 208.740005, 211.880005, 211.880005, 108595400, 'TSLA'), ('2024-01-19', 209.990005, 213.190002, 207.559998, 212.190002, 212.190002, 102095800, 'TSLA'), ('2024-01-22', 212.259995, 217.800003, 206.270004, 208.800003, 208.800003, 117952500, 'TSLA'), ('2024-01-23', 211.300003, 215.649994, 207.75, 209.139999, 209.139999, 106605900, 'TSLA'), ('2024-01-24', 211.880005, 212.729996, 206.770004, 207.830002, 207.830002, 123369900, 'TSLA'), ('2024-01-25', 189.699997, 193.0, 180.059998, 182.630005, 182.630005, 198076800, 'TSLA'), ('2024-01-26', 185.5, 186.779999, 182.100006, 183.25, 183.25, 107343200, 'TSLA'), ('2024-01-29', 185.630005, 191.479996, 183.669998, 190.929993, 190.929993, 125013100, 'TSLA'), ('2024-01-30', 195.330002, 196.360001, 190.610001, 191.589996, 191.589996, 109982300, 'TSLA'), ('2024-01-31', 187.0, 193.970001, 185.850006, 187.289993, 187.289993, 103221400, 'TSLA')]

In [57]:
df = pd.DataFrame(result, columns=column_names)
df

,Date,Open,High,Low,Close,Adj Close,Volume,Symbol
0,2024-01-02,250.080002,251.250000,244.410004,248.419998,248.419998,104654200,TSLA
1,2024-01-03,244.979996,245.679993,236.320007,238.449997,238.449997,121082600,TSLA
2,2024-01-04,239.250000,242.699997,237.729996,237.929993,237.929993,102629300,TSLA
3,2024-01-05,236.860001,240.119995,234.899994,237.490005,237.490005,92379400,TSLA
4,2024-01-08,236.139999,241.250000,235.300003,240.449997,240.449997,85166600,TSLA
5,2024-01-09,238.110001,238.960007,232.039993,234.960007,234.960007,96705700,TSLA
6,2024-01-10,235.100006,235.500000,231.289993,233.940002,233.940002,91628500,TSLA
7,2024-01-11,230.570007,230.929993,225.369995,227.220001,227.220001,105873600,TSLA
8,2024-01-12,220.080002,225.339996,217.149994,218.889999,218.889999,122889000,TSLA
9,2024-01-16,215.100006,223.490005,212.179993,219.910004,219.910004,115355000,TSLA
10,2024-01-17,214.860001,215.669998,212.009995,215.550003,215.550003,103164400,TSLA
11,2024-01-18,216.880005,217.449997,208.740005,211.880005,211.880005,108595400,TSLA
12,2024-01-19,209.990005,213.190002,207.559998,212.190002,212.190002,102095800,TSLA
13,2024-01-22,212.259995,217.800003,206.270004,208.800003,208.800003,117952500,TSLA
14,2024-01-23,211.300003,215.649994,207.750000,209.139999,209.139999,106605900,TSLA
15,2024-01-24,211.880005,212.729996,206.770004,207.830002,207.830002,123369900,TSLA
16,2024-01-25,189.699997,193.000000,180.059998,182.630005,182.630005,198076800,TSLA
17,2024-01-26,185.500000,186.779999,182.100006,183.250000,183.250000,107343200,TSLA
18,2024-01-29,185.630005,191.479996,183.669998,190.929993,190.929993,125013100,TSLA
19,2024-01-30,195.330002,196.360001,190.610001,191.589996,191.589996,109982300,TSLA
20,2024-01-31,187.000000,193.970001,185.850006,187.289993,187.289993,103221400,TSLA

In [58]:
response_full = openai.chat.completions.create(model="gpt-4o", messages=[{"role": "system", "content": SQL_SYSTEM_PROMPT2},
                                                                      {"role": "user", "content": "Create a trend plot for TSLA's prices over the last year" }],
                                                                      temperature=0) #, logprobs=True, top_logprobs=5

print(response_full.choices[0].message.content)

#extract the SQL query from the response
sql_query = response_full.choices[0].message.content.split("```sql")[1].split("```")[0].strip()

#run the sql query using the conn connection 
conn = sqlite3.connect('tsla_stock.db')
cursor = conn.cursor()
cursor.execute(sql_query)

# Get column names from cursor.description
column_names = [description[0] for description in cursor.description]
result = cursor.fetchall()
result_with_column_names = [column_names] + result
print(result_with_column_names)

```sql
SELECT Date, Open, High, Low, Close, "Adj Close"
FROM stocks
WHERE Symbol = 'TSLA' AND Date >= date('now', '-1 year')
ORDER BY Date;
```
[['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close'], ('2023-05-15', 167.660004, 169.759995, 164.550003, 166.350006, 166.350006), ('2023-05-16', 165.649994, 169.520004, 164.350006, 166.520004, 166.520004), ('2023-05-17', 168.410004, 174.5, 167.190002, 173.860001, 173.860001), ('2023-05-18', 174.220001, 177.059998, 172.449997, 176.889999, 176.889999), ('2023-05-19', 177.169998, 181.949997, 176.309998, 180.139999, 180.139999), ('2023-05-22', 180.699997, 189.320007, 180.110001, 188.869995, 188.869995), ('2023-05-23', 186.199997, 192.960007, 185.259995, 185.770004, 185.770004), ('2023-05-24', 182.229996, 184.220001, 178.220001, 182.899994, 182.899994), ('2023-05-25', 186.539993, 186.779999, 180.580002, 184.470001, 184.470001), ('2023-05-26', 184.619995, 198.600006, 184.529999, 193.169998, 193.169998), ('2023-05-30', 200.100006, 204.479996, 197.529999, 201.160004, 201.160004), ('2023-05-31', 199.779999, 203.949997, 195.119995, 203.929993, 203.929993), ('2023-06-01', 202.589996, 209.800003, 199.369995, 207.520004, 207.520004), ('2023-06-02', 210.149994, 217.25, 209.75, 213.970001, 213.970001), ('2023-06-05', 217.800003, 221.289993, 214.520004, 217.610001, 217.610001), ('2023-06-06', 216.139999, 221.910004, 212.529999, 221.309998, 221.309998), ('2023-06-07', 228.0, 230.830002, 223.199997, 224.570007, 224.570007), ('2023-06-08', 224.220001, 235.229996, 223.009995, 234.860001, 234.860001), ('2023-06-09', 249.070007, 252.419998, 242.020004, 244.399994, 244.399994), ('2023-06-12', 247.940002, 250.970001, 244.589996, 249.830002, 249.830002), ('2023-06-13', 253.509995, 259.679993, 251.339996, 258.709991, 258.709991), ('2023-06-14', 260.170013, 261.570007, 250.5, 256.790009, 256.790009), ('2023-06-15', 248.399994, 258.950012, 247.289993, 255.899994, 255.899994), ('2023-06-16', 258.920013, 263.600006, 257.209991, 260.540009, 260.540009), ('2023-06-20', 261.5, 274.75, 261.119995, 274.450012, 274.450012), ('2023-06-21', 275.130005, 276.98999, 257.779999, 259.459991, 259.459991), ('2023-06-22', 250.770004, 265.0, 248.25, 264.609985, 264.609985), ('2023-06-23', 259.290009, 262.450012, 252.800003, 256.600006, 256.600006), ('2023-06-26', 250.070007, 258.369995, 240.699997, 241.050003, 241.050003), ('2023-06-27', 243.240005, 250.389999, 240.850006, 250.210007, 250.210007), ('2023-06-28', 249.699997, 259.880005, 248.889999, 256.23999, 256.23999), ('2023-06-29', 258.029999, 260.73999, 253.610001, 257.5, 257.5), ('2023-06-30', 260.600006, 264.450012, 259.890015, 261.769989, 261.769989), ('2023-07-03', 276.48999, 284.25, 275.109985, 279.820007, 279.820007), ('2023-07-05', 278.820007, 283.850006, 277.600006, 282.480011, 282.480011), ('2023-07-06', 278.089996, 279.970001, 272.880005, 276.540009, 276.540009), ('2023-07-07', 278.429993, 280.779999, 273.769989, 274.429993, 274.429993), ('2023-07-10', 276.470001, 277.519989, 265.100006, 269.609985, 269.609985), ('2023-07-11', 268.649994, 270.899994, 266.369995, 269.790009, 269.790009), ('2023-07-12', 276.329987, 276.519989, 271.459991, 271.98999, 271.98999), ('2023-07-13', 274.589996, 279.450012, 270.600006, 277.899994, 277.899994), ('2023-07-14', 277.01001, 285.299988, 276.309998, 281.380005, 281.380005), ('2023-07-17', 286.630005, 292.230011, 283.570007, 290.380005, 290.380005), ('2023-07-18', 290.149994, 295.26001, 286.01001, 293.339996, 293.339996), ('2023-07-19', 296.040009, 299.290009, 289.519989, 291.26001, 291.26001), ('2023-07-20', 279.559998, 280.929993, 261.200012, 262.899994, 262.899994), ('2023-07-21', 268.0, 268.0, 255.800003, 260.019989, 260.019989), ('2023-07-24', 255.850006, 269.850006, 254.119995, 269.059998, 269.059998), ('2023-07-25', 272.380005, 272.899994, 265.0, 265.279999, 265.279999), ('2023-07-26', 263.25, 268.040009, 261.75, 264.350006, 264.350006), ('2023-07-27', 268.309998, 269.130005, 255.300003, 255.710007, 255.710007), ('2023-07-28', 259.859985, 267.25, 258.230011, 266.440002, 266.440002), ('2023-07-31', 267.480011, 269.079987, 263.779999, 267.429993, 267.429993), ('2023-08-01', 266.26001, 266.470001, 260.25, 261.070007, 261.070007), ('2023-08-02', 255.570007, 259.519989, 250.490005, 254.110001, 254.110001), ('2023-08-03', 252.039993, 260.48999, 252.0, 259.320007, 259.320007), ('2023-08-04', 260.970001, 264.769989, 253.110001, 253.860001, 253.860001), ('2023-08-07', 251.449997, 253.649994, 242.759995, 251.449997, 251.449997), ('2023-08-08', 247.449997, 250.919998, 245.009995, 249.699997, 249.699997), ('2023-08-09', 250.869995, 251.100006, 241.899994, 242.190002, 242.190002), ('2023-08-10', 245.399994, 251.800003, 243.0, 245.339996, 245.339996), ('2023-08-11', 241.770004, 243.789993, 238.020004, 242.649994, 242.649994), ('2023-08-14', 235.699997, 240.660004, 233.75, 239.759995, 239.759995), ('2023-08-15', 238.729996, 240.5, 232.610001, 232.960007, 232.960007), ('2023-08-16', 228.020004, 233.970001, 225.380005, 225.600006, 225.600006), ('2023-08-17', 226.059998, 226.740005, 218.830002, 219.220001, 219.220001), ('2023-08-18', 214.119995, 217.580002, 212.360001, 215.490005, 215.490005), ('2023-08-21', 221.550003, 232.130005, 220.580002, 231.279999, 231.279999), ('2023-08-22', 240.25, 240.820007, 229.550003, 233.190002, 233.190002), ('2023-08-23', 229.339996, 238.979996, 229.289993, 236.860001, 236.860001), ('2023-08-24', 238.660004, 238.919998, 228.179993, 230.039993, 230.039993), ('2023-08-25', 231.309998, 239.0, 230.350006, 238.589996, 238.589996), ('2023-08-28', 242.580002, 244.380005, 235.350006, 238.820007, 238.820007), ('2023-08-29', 238.580002, 257.480011, 237.770004, 257.179993, 257.179993), ('2023-08-30', 254.199997, 260.51001, 250.589996, 256.899994, 256.899994), ('2023-08-31', 255.979996, 261.179993, 255.050003, 258.079987, 258.079987), ('2023-09-01', 257.26001, 259.079987, 242.009995, 245.009995, 245.009995), ('2023-09-05', 245.0, 258.0, 244.860001, 256.48999, 256.48999), ('2023-09-06', 255.139999, 255.389999, 245.059998, 251.919998, 251.919998), ('2023-09-07', 245.070007, 252.809998, 243.270004, 251.490005, 251.490005), ('2023-09-08', 251.220001, 256.519989, 246.669998, 248.5, 248.5), ('2023-09-11', 264.269989, 274.850006, 260.609985, 273.579987, 273.579987), ('2023-09-12', 270.76001, 278.390015, 266.600006, 267.480011, 267.480011), ('2023-09-13', 270.070007, 274.980011, 268.100006, 271.299988, 271.299988), ('2023-09-14', 271.320007, 276.709991, 270.420013, 276.040009, 276.040009), ('2023-09-15', 277.549988, 278.980011, 271.0, 274.390015, 274.390015), ('2023-09-18', 271.160004, 271.440002, 263.76001, 265.279999, 265.279999), ('2023-09-19', 264.350006, 267.850006, 261.200012, 266.5, 266.5), ('2023-09-20', 267.040009, 273.929993, 262.459991, 262.589996, 262.589996), ('2023-09-21', 257.850006, 260.859985, 254.210007, 255.699997, 255.699997), ('2023-09-22', 257.399994, 257.790009, 244.479996, 244.880005, 244.880005), ('2023-09-25', 243.380005, 247.100006, 238.309998, 246.990005, 246.990005), ('2023-09-26', 242.979996, 249.550003, 241.660004, 244.119995, 244.119995), ('2023-09-27', 244.259995, 245.330002, 234.580002, 240.5, 240.5), ('2023-09-28', 240.020004, 247.550003, 238.649994, 246.380005, 246.380005), ('2023-09-29', 250.0, 254.770004, 246.350006, 250.220001, 250.220001), ('2023-10-02', 244.809998, 254.279999, 242.619995, 251.600006, 251.600006), ('2023-10-03', 248.610001, 250.020004, 244.449997, 246.529999, 246.529999), ('2023-10-04', 248.139999, 261.859985, 247.600006, 261.160004, 261.160004), ('2023-10-05', 260.0, 263.600006, 256.25, 260.049988, 260.049988), ('2023-10-06', 253.979996, 261.649994, 250.649994, 260.529999, 260.529999), ('2023-10-09', 255.309998, 261.359985, 252.050003, 259.670013, 259.670013), ('2023-10-10', 257.75, 268.940002, 257.649994, 263.619995, 263.619995), ('2023-10-11', 266.200012, 268.600006, 260.899994, 262.98999, 262.98999), ('2023-10-12', 262.920013, 265.410004, 256.630005, 258.869995, 258.869995), ('2023-10-13', 258.899994, 259.600006, 250.220001, 251.119995, 251.119995), ('2023-10-16', 250.050003, 255.399994, 248.479996, 253.919998, 253.919998), ('2023-10-17', 250.100006, 257.179993, 247.080002, 254.850006, 254.850006), ('2023-10-18', 252.699997, 254.630005, 242.080002, 242.679993, 242.679993), ('2023-10-19', 225.949997, 230.610001, 216.779999, 220.110001, 220.110001), ('2023-10-20', 217.009995, 218.860001, 210.419998, 211.990005, 211.990005), ('2023-10-23', 210.0, 216.979996, 202.509995, 212.080002, 212.080002), ('2023-10-24', 216.5, 222.050003, 214.110001, 216.520004, 216.520004), ('2023-10-25', 215.880005, 220.100006, 212.199997, 212.419998, 212.419998), ('2023-10-26', 211.320007, 214.800003, 204.880005, 205.759995, 205.759995), ('2023-10-27', 210.600006, 212.410004, 205.770004, 207.300003, 207.300003), ('2023-10-30', 209.279999, 210.880005, 194.669998, 197.360001, 197.360001), ('2023-10-31', 196.119995, 202.800003, 194.070007, 200.839996, 200.839996), ('2023-11-01', 204.039993, 205.990005, 197.850006, 205.660004, 205.660004), ('2023-11-02', 212.970001, 219.199997, 211.449997, 218.509995, 218.509995), ('2023-11-03', 221.149994, 226.369995, 218.399994, 219.960007, 219.960007), ('2023-11-06', 223.979996, 226.320007, 215.0, 219.270004, 219.270004), ('2023-11-07', 219.979996, 223.119995, 215.720001, 222.179993, 222.179993), ('2023-11-08', 223.149994, 224.149994, 217.639999, 222.110001, 222.110001), ('2023-11-09', 219.75, 220.800003, 206.679993, 209.979996, 209.979996), ('2023-11-10', 210.029999, 215.380005, 205.690002, 214.649994, 214.649994), ('2023-11-13', 215.600006, 225.399994, 211.610001, 223.710007, 223.710007), ('2023-11-14', 235.029999, 238.139999, 230.720001, 237.410004, 237.410004), ('2023-11-15', 239.289993, 246.699997, 236.449997, 242.839996, 242.839996), ('2023-11-16', 239.490005, 240.880005, 230.960007, 233.589996, 233.589996), ('2023-11-17', 232.0, 237.389999, 226.539993, 234.300003, 234.300003), ('2023-11-20', 234.039993, 237.100006, 231.020004, 235.600006, 235.600006), ('2023-11-21', 235.039993, 243.619995, 233.339996, 241.199997, 241.199997), ('2023-11-22', 242.039993, 244.009995, 231.399994, 234.210007, 234.210007), ('2023-11-24', 233.75, 238.75, 232.330002, 235.449997, 235.449997), ('2023-11-27', 236.889999, 238.330002, 232.100006, 236.080002, 236.080002), ('2023-11-28', 236.679993, 247.0, 234.009995, 246.720001, 246.720001), ('2023-11-29', 249.210007, 252.75, 242.759995, 244.139999, 244.139999), ('2023-11-30', 245.139999, 245.220001, 236.910004, 240.080002, 240.080002), ('2023-12-01', 233.139999, 240.190002, 231.899994, 238.830002, 238.830002), ('2023-12-04', 235.75, 239.369995, 233.289993, 235.580002, 235.580002), ('2023-12-05', 233.869995, 246.660004, 233.699997, 238.720001, 238.720001), ('2023-12-06', 242.919998, 246.570007, 239.169998, 239.369995, 239.369995), ('2023-12-07', 241.550003, 244.080002, 236.979996, 242.639999, 242.639999), ('2023-12-08', 240.270004, 245.270004, 239.270004, 243.839996, 243.839996), ('2023-12-11', 242.740005, 243.440002, 237.449997, 239.740005, 239.740005), ('2023-12-12', 238.550003, 238.990005, 233.869995, 237.009995, 237.009995), ('2023-12-13', 234.190002, 240.300003, 228.199997, 239.289993, 239.289993), ('2023-12-14', 241.220001, 253.880005, 240.789993, 251.050003, 251.050003), ('2023-12-15', 251.210007, 254.130005, 248.300003, 253.5, 253.5), ('2023-12-18', 253.779999, 258.73999, 251.360001, 252.080002, 252.080002), ('2023-12-19', 253.479996, 258.339996, 253.009995, 257.220001, 257.220001), ('2023-12-20', 256.410004, 259.839996, 247.0, 247.139999, 247.139999), ('2023-12-21', 251.899994, 254.800003, 248.550003, 254.5, 254.5), ('2023-12-22', 256.76001, 258.220001, 251.369995, 252.539993, 252.539993), ('2023-12-26', 254.490005, 257.970001, 252.910004, 256.609985, 256.609985), ('2023-12-27', 258.350006, 263.339996, 257.519989, 261.440002, 261.440002), ('2023-12-28', 263.660004, 265.130005, 252.710007, 253.179993, 253.179993), ('2023-12-29', 255.100006, 255.190002, 247.429993, 248.479996, 248.479996), ('2024-01-02', 250.080002, 251.25, 244.410004, 248.419998, 248.419998), ('2024-01-03', 244.979996, 245.679993, 236.320007, 238.449997, 238.449997), ('2024-01-04', 239.25, 242.699997, 237.729996, 237.929993, 237.929993), ('2024-01-05', 236.860001, 240.119995, 234.899994, 237.490005, 237.490005), ('2024-01-08', 236.139999, 241.25, 235.300003, 240.449997, 240.449997), ('2024-01-09', 238.110001, 238.960007, 232.039993, 234.960007, 234.960007), ('2024-01-10', 235.100006, 235.5, 231.289993, 233.940002, 233.940002), ('2024-01-11', 230.570007, 230.929993, 225.369995, 227.220001, 227.220001), ('2024-01-12', 220.080002, 225.339996, 217.149994, 218.889999, 218.889999), ('2024-01-16', 215.100006, 223.490005, 212.179993, 219.910004, 219.910004), ('2024-01-17', 214.860001, 215.669998, 212.009995, 215.550003, 215.550003), ('2024-01-18', 216.880005, 217.449997, 208.740005, 211.880005, 211.880005), ('2024-01-19', 209.990005, 213.190002, 207.559998, 212.190002, 212.190002), ('2024-01-22', 212.259995, 217.800003, 206.270004, 208.800003, 208.800003), ('2024-01-23', 211.300003, 215.649994, 207.75, 209.139999, 209.139999), ('2024-01-24', 211.880005, 212.729996, 206.770004, 207.830002, 207.830002), ('2024-01-25', 189.699997, 193.0, 180.059998, 182.630005, 182.630005), ('2024-01-26', 185.5, 186.779999, 182.100006, 183.25, 183.25), ('2024-01-29', 185.630005, 191.479996, 183.669998, 190.929993, 190.929993), ('2024-01-30', 195.330002, 196.360001, 190.610001, 191.589996, 191.589996), ('2024-01-31', 187.0, 193.970001, 185.850006, 187.289993, 187.289993), ('2024-02-01', 188.5, 189.880005, 184.279999, 188.860001, 188.860001), ('2024-02-02', 185.039993, 188.690002, 182.0, 187.910004, 187.910004)]

Based on trying a few other prompts and tasks as well as diagnosing all of the above to make it work, I believe a more robust approach is needed to make this work for an end-user that might not read code or understand intermediate steps. This may be possible in LangChain or with Pandas-AI, but there are also building from scratch or using an existing full-scale agent-based frameworks such as [AutoGen](https://github.com/microsoft/autogen), [AutoGPT](https://github.com/Significant-Gravitas/AutoGPT), [OpenAgents](https://github.com/Significant-Gravitas/AutoGPT) and [crewAI](https://github.com/joaomdmoura/crewAI)